<app-create-component></app-create-component>
<input #checkTitle> <button (click)="checkIfExists(checkTitle.value)"> Does it exist? </button>
<div class="content-exists">
<!--  {{ message }}-->
</div>

<app-content-card *ngFor="let content of bookService | filterContent: 'crime';
                  last as isLast"
                  [class.is.last]="isLast"
                  [content]="content" class="crime"></app-content-card>

<app-content-card *ngFor="let content of bookService | filterContent: 'horror';
                  last as isLast"
                  [class.is.last]="isLast"
                  [content]="content" class="horror"></app-content-card>



