<div>
<mat-form-field>
  <label>
    Book ID: <input [(ngModel)]="tempId">
  </label>

  <label>
    Author: <input [(ngModel)]="newBookItem.author">
  </label>

  <label>
    Title: <input [(ngModel)]="newBookItem.title">
  </label>

  <label>
    Type (Genre): <input [(ngModel)]="newBookItem.type">
  </label>

  <label>
    Image URL: <input [(ngModel)]="newBookItem.imgUrl">
  </label>

  <label>
    Body: <input [(ngModel)]="newBookItem.body">
  </label>
</mat-form-field>

  <button mat-raised-button color="primary" (click)="CreateNewContent()">Create New Item</button>
  <button mat-raised-button color="primary" (click)="update()">Update Item</button>
</div>
