<div #inputs>
  <label>
    Book ID: <input #bookID>
  </label>

  <label>
    Author: <input #bookAuthor>
  </label>

  <label>
    Title: <input #bookTitle>
  </label>

  <label>
    Type (Genre): <input #bookType>
  </label>

  <label>
    Image URL: <input #bookImage>
  </label>

  <label>
    Body: <input #bookBody>
  </label>

  <button (click)="CreateNewContent(bookID.value, bookAuthor.value, bookTitle.value, bookType.value,
  bookImage.value, bookBody.value)">Create New Item</button>
</div>
