<!DOCTYPE html>

<html>
  <body class="card-content">
  <h1>{{content.title}}, {{content.type}}</h1>
  <h2>{{content.author}}</h2>
  <img [src]="content.imgUrl" (click)="clickImage()" width="400" height="400" alt="novel cover art">
  <h3>{{content.body}}</h3>
  </body>
</html>


<!--class solution-->
<!--<img src="content.imgUrl">-->
<!--<div class="author">-->
<!--  {{content.author}}-->
<!--</div>-->

<!--<div class="title">-->
<!--    {{content.title}}-->
<!--</div>-->
<!--<div class="body">-->
<!--  {{content.body}}-->
<!--</div>-->

<!--<div class="type">-->
<!--  {{content.type}}-->
<!--</div>-->
<!--<div class="tags">-->
<!--  <span class="tag" *ngFor="let tag of content.tags">-->
<!--    {{tag}}-->
<!--  </span>-->
<!--</div>-->
